/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media (max-width: 1120px){
    .input-text,
    .order-text,
    .order-title{
        margin-bottom: 5px;
    }
    .order-div-right{
        padding-top: 30px;
    }
}
@media (max-width: 768px) {
    .order-text,
    .order-title{
        margin-bottom: 26px;
    }
    .order-div{
        height: 800px;
    }
    .header-icon,
    .navigation{
        display: none;
    }
    .header-div2{
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .headerBar{
        display: block;
        width: 50px;
    }
    .order-div{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 900px;
    }
    .order-div-img,
    .order-div-right{
        width: 70%;
    }
    .contact-div{
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .contact-div > div:nth-child(1){
        margin-top: 20px;

    }
    .map-div{
        width: 100%;
    }
    .navigation.active{
        display: block;
    }
    .header-nav{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-left: 20px;

    }
    li{
        margin-bottom: 10px;
    }
}
@media (max-width: 550px) {
    .home-page-left{
        left: 60px;
    }
    footer{
    }
    .footer-div{
        display: -ms-grid;
        display: grid;
        gap: 10px;
        -ms-grid-columns: auto 10px auto;
        grid-template-columns: auto auto;
    }
    .footer-div > div:nth-child(1){
        margin: 0 auto;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1/3;
    }
    .footer-div > div:nth-child(2){
        margin-left: 50px;
    }
    .footer-div > div:nth-child(3){
        margin-right: 30px;
    }
    .div-subscribe{
        margin: 100px auto;
    }
    .input-style{
        width: 100%;
        margin: 5px auto;
    }
    .input-icon i{
        right: 5%;
        top: 30%
    }
    .button{
        width: 100%;
        margin: 20px auto;
    }
}
@media (max-width: 615px) {
    .shop-img-top-div:hover{
        -webkit-transform: scale(1,1);
        -ms-transform: scale(1,1);
        transform: scale(1,1);
    }
}
@media (max-width: 480px) {
    .home-page-left{
        left: 20px;
        width: 300px;
    }
    .footer-div > div:nth-child(2){
        margin-left: 30px;
    }
    .footer-div > div:nth-child(3){
        margin-right: 10px;
    }
    .headerBar{
        left: 10px;
    }
    .header-div1{
        width: 90%;
    }
}
@media (max-width: 400px) {
    .header-div2{
        margin: 0 10px;
    }
    .headerLogo{
        -webkit-box-pack: right;
        -ms-flex-pack: right;
        justify-content: right;
    }
}